body {
    font-family: "Zain", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 180, 140);
    color: black;
}

.buttons button {
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(247, 244, 111);
    color: black;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.results {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.results h2 {
    color: #010d0e;
}

.reset {
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(247, 244, 111);
    color: red;
}

.reset:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

